h2 {
	color: red;
	background-color:yellow;
}

li {
	color: black;
	background-color: green: 
}

p {
	color: black;
	font-size: 40px;
}

.boxmodel {
	border: 5px solid red;
	display: inline-block;
	padding: 5px 20px;
	margin: 0px 20px;
	width: 22px;
	height: 40px;
}